.git/*
obj/*
*~
.project/*
.settings/*
.cproject
.project
*-back
*.bck
*.user
*.user.*
*.tmp
bin/*
lib/*
bck/*
*/*.user
*/*.sdf
*/.vs/*
*/*.suo
*/*.opensdf
.idea/*
*.autosave

#tmp
#vc141_proj
#vc141_proj/*

#my
my_sett.js
scripts_for_test
scripts_for_test/.*

# nodejs script

node_modules
conf.json